# make shell script
files:
  "/opt/elasticbeanstalk/tasks/install-openjdk-10.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      mkdir holadir

# execution shell script
commands:
  install-openjdk-10:
    command: /opt/elasticbeanstalk/tasks/install-openjdk-10.sh