# make shell script
files:
  "/opt/elasticbeanstalk/tasks/install-openjdk-mule.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        # please check recently openjdk version.
        curl -O https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u282-b08/OpenJDK8U-jdk_x64_linux_hotspot_8u282b08.tar.gz
        tar xvf OpenJDK8U-jdk_x64_linux_hotspot_8u282b08.tar.gz -C /opt

        # set java, javac path
        alternatives --install /usr/bin/java java /opt/jdk8u282-b08/bin/java 2
        alternatives --install /usr/bin/javac javac /opt/jdk8u282-b08/bin/javac 2
        alternatives --set java /opt/jdk8u282-b08/bin/java
        alternatives --set javac /opt/jdk8u282-b08/bin/javac

        # set ${JAVA_HOME} path
        alternatives --install /usr/lib/jvm/java java_sdk /opt/jdk8u282-b08 1

        # clear
        rm -rf OpenJDK8U-jdk_x64_linux_hotspot_8u282b08.tar.gz
        
        # mule
        wget https://repository-master.mulesoft.org/nexus/service/local/repositories/releases/content/org/mule/distributions/mule-standalone/4.3.0-ea2/mule-standalone-4.3.0-ea2.tar.gz
        
        tar xzvf mule-standalone-4.3.0-ea2.tar.gz -C /opt
        
        rm -rf mule-standalone-4.3.0-ea2.tar.gz


# execution shell script
commands:
    install-openjdk-mule:
        command: /opt/elasticbeanstalk/tasks/install-openjdk-mule.sh